body {
  font-family: monospace;
}

input[type=file], input[type=button] {
  display: none;
}

a {
  text-decoration: none;
}

.main {
  max-width: 740px;
  margin: auto;
  padding: 10px;
  background-color: white
}

.craft {
  margin-top: -1em;
  float: right;
  background-color: BurlyWood;
  font-size: 80%;
  color: black;
  text-align: center;
  display: none;
}

.craft td {
  width: 35px;
  height: 30px;
  border: 1px solid black;
}

.ui-autocomplete, .ui-autocomplete-input {
  font-family: monospace;
  width: 280px;
}
